.body{
	position: relative;
}

.container.header{
	background-color: #f1f1f1;
	position: fixed;
	top: 0;
	width: 100%;
}

.ps-banner {
	@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Playfair+Display&display=swap');
	display: flex;

	.ps-logo {
		width: 220px;

		img {
			width: 100%;
		}
	}

	.content {
		margin-top: 28px;

		.ps-title {
			margin: 0;
			padding: 0;

			font-family: 'Playfair Display', serif;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 40px;

			&:after {
				content: '';
				width: 100px;
				height: 2px;
				display: block;
				background-color: #EECEBD;
				margin: 10px auto 0;
			}
		}

		.ps-subtitle {
			margin: 0;
			padding: 0;

			text-align: center;
			font-family: 'Mr De Haviland', cursive;
			font-size: 30px;
			letter-spacing: 2px;

			margin-top: 15px;
			color: #97b79c;
		}

	}

}