.ps-cart {
	margin-left: auto;

	.number {
    width: 15px;
    height: 15px;
    background-color: #478867;
    border-radius: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 10px;
		top: 7px;
    right: 7px;
	}
	
	.ps-cart-toggle-button {
		background: none;
		outline: none;
		border: none;
		cursor: pointer;
		padding: 0;

		margin-left: auto;
    display: flex;

		background-color: #31b572;
		border-radius: 50px;

		width: 40px;
		height: 40px;
		padding: 7px;
		transition: all .4s ease;

		&:hover{
			background-color: #478867;
			transition: all .4s ease;
		}

		img{
			width: 40px;
		}
	}

	&.open{
		.content-basket{
			padding: 32px;
			color: white;
			background-color: #6d9681;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 300px;
			margin-top: 10px;

			position: absolute;
			right: 20px;
		}
	}
}

